/* Login.module.css */

.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: transparent;
  }
  
  .loginHeader {
    color: #333; /* Change the color as needed */
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
    margin-top: 20px;
  }
  
  .loginLabel {
    margin-bottom: 5px;
    color: #333; /* Change the color as needed */
  }
  
  .loginInput {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .loginButton {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color, change as needed */
    color: #fff;
    border: none;
    border-radius: 20px; /* Make the button round */
    cursor: pointer;
  }
  
  .loginErrMsg {
    color: #ff0000; /* Red color for error messages, change as needed */
  }
  
  .loginOffscreen {
    position: absolute;
    left: -9999px;
  }
  