.header {
	background-color:#000000;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0 40px;
	font-family: 'Lato';
	font-size: 14px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
	
.title {
	font-weight: bold;
}

.logo {
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}

.header-buttons {
	display: flex;
	gap: 16px;
	justify-content: center;
	font-family: 'Lato';
	font-weight: 600;
	margin-right: 30px;
}

.header-logo-styling{
	display: flex; /* Use flexbox layout */
  	justify-content: space-between;
  	width: 240px;
	margin-left: 30px;
}

.header-logo{
	height: 50px;
}

.header-buttons a {
	display: block;
	padding: 12px 24px;
	border-radius: 25px;
	border: none;
	color: #fff;
	background-color: #1D63FF;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.header-buttons a:hover {
	background-color: #105bfd;
}

.header-buttons a:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.search-bar{
	margin-top: 0.5rem;
	width: 12rem;
}

.vote-button, .results-button {
	font-size: 24px;
	padding: 12px 24px;
	border-radius: 25px;
	border: none;
	color: #fff;
	background-color: #1D63FF;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	width: 120px;
}

.vote-button:hover, .results-button:hover {
	background-color: #0069d9;
}

.vote-button:focus, .results-button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	padding-bottom: 1rem;
}

a, a:visited {
	color: #fff;
}

button, textarea {
	padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 250px;
    margin-right: 0.5rem;
    height: 30px;
    font-size: 12px;
    font-family: 'Lato';
    margin-top: 1rem;
    color: black;
}

label,button {
	margin-top: 1rem;
}

button {
	padding: 0.5rem;
}

.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: #000;
	color: #fff;
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions > svg {
	margin-right: 0.25rem;
}

.hide {
	display: none;
}

.valid {
	color: limegreen;
	margin-left: 0.25rem;
}

.invalid {
	color: red;
	margin-left: 0.25rem;
}

.line {
	display: inline-block;
}

@media only screen and (max-width: 768px) {
	.header {
		height: 60px;
		padding: 0 20px;
	}

	.logo {
		font-size: 20px;
	}

	.header-buttons {
		gap: 8px;
	}

	.header-buttons a {
		font-size: 12px;
		padding: 10px 20px;
	}

	.vote-button, .results-button {
		font-size: 18px;
		padding: 10px 20px;
	}
}